<footer class="navbar fixed-bottom navbar-dark bg-dark p-0">
    <button class="btn btn-sm btn-dark" type="button" data-toggle="collapse" data-target="#footerCollapse"
        aria-controls="footerCollapse" aria-expanded="false" aria-label="Toggle navigation">
        Collapsible Footer
    </button>
    <button class="btn btn-sm btn-dark" type="button" data-toggle="collapse" data-target="#footerCollapse1"
        aria-controls="footerCollapse" aria-expanded="false" aria-label="Toggle navigation">
        #
    </button>
    <div class="collapse navbar-collapse pt-1" id="footerCollapse">
        <textarea name="code" id="code" plaheholder="%  %"
            class="form-control form-control-sm bg-secondary border-dark text-light" rows="1"
            readonly>Bootstrapped PWA Version 1.0.0 [ 2020-09-05 ]</textarea>
    </div>
    <div class="collapse navbar-collapse pt-1" id="footerCollapse1">
        <nav class="btn-group">
            <a href="#" class="btn btn-sm text-primary">></a>
        </nav>
        <nav class="btn-group float-right">
            <a href="#html" class="btn btn-sm text-muted" data-proxy="#modalTab">HTML</a>
            <a href="#css" class="btn btn-sm text-muted">CSS</a>
            <a href="#js" class="btn btn-sm text-muted">JS</a>
        </nav>
    </div>
</footer>