<header class="navbar border-bottom border-primary p-0">
  <nav class="btn-group">
    <div class="dropdown">
      <button class="btn btn-sm dropdown-toggle" type="button" id="fileDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        File
      </button>
      <div class="dropdown-menu" aria-labelledby="fileDropDown">
        <a class="dropdown-item" data-toggle="modal" data-target="#modalAlert">Alert</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" data-toggle="modal" data-target="#modalPrompt">Prompt</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-sm dropdown-toggle" type="button" id="editDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Edit
      </button>
      <div class="dropdown-menu" aria-labelledby="editDropDown">
        <a class="dropdown-item" data-toggle="modal" data-target="#modalConfirm">Confirm</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#about">About</a>
        <a class="dropdown-item" href="#contact">Contact</a>          
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-sm dropdown-toggle" type="button" id="viewDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        View
      </button>
      <div class="dropdown-menu" aria-labelledby="viewDropDown">
        <a class="dropdown-item" data-toggle="modal" data-target="#modalScroll">Scroll</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" data-toggle="modal" data-target="#modalTab">Tab</a>
      </div>
    </div> 
   </nav>     
  </header>
